* {
  margin: 0;
  padding: 0;
}
.contin {
  border: 1px solid rebeccapurple;
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px) 80px 80px;
}
.box {
  background-color: gray;
  padding: 12px;
  border: 1px solid lime;
}
.sidebar {
  grid-row: span 5;
  grid-column: span 1;
}
.short {
  grid-row: span 1;
  grid-column: span 3;
}
@media screen and (max-width: 576px) {
  .contin {
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(6, 200px);
  }

  .sidebar,
  .short {
    grid-row: span 1;
    grid-column: span 1;
  }
}
