body {
  background-color: gray;
}
.container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 150px);
  gap: 6px;
}
.box img {
  width: 100%;
  height: 100%;
}
.hero {
  grid-column: span 6;
  grid-row: span 2;
}
.normal {
  grid-column: span 2;
  grid-row: span 2;
}
.pakna {
  grid-column: span 2;
  grid-row: span 1;
}
bonchito {
  grid-column: span 1;
  grid-row: span 1;
}
@media screen and (max-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(6, 150px); */
    gap: 6px;
  }
  .hero,
  .pakna,
  .normal,
  .bonchito {
    grid-row: span 1;
    grid-column: span 1;
  }
}
